/* Make all font on page Arial */
body {
	font-family: Arial;
}

/* Make text (headings in this case) centered */
.centered {
	text-align: center;
}

/* Flexbox container for children */
.container {
  display: flex;
}

/* Children 1 that takes up 60% of the page */
#column1 {
  flex: 60%;
}

/* Children 2 that takes up 40% of the page */
#column2 {
	flex: 40%;
}

#frame {
	width: 500px;
	height: 500px;
}

svg.graph {
  height: 500px;
  width: 800px;
}

svg.graph .grid {
  stroke: white;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}